# vim-plug {{{1
# Location
autoload/plug.vim*
# Plugins
plugged/*
# }}}1

# Garbage file created by macOS's Finder
.DS_Store
# NETRW's history
.netrwhist
# Custom color schemes (should be in their own repos)
colors
# Vim's history
viminfo
# Ignore spellfile
spell
# I use vim help files for note-taking… don't judge me
doc/*
# But include this actual documentation I wrote {{{1
!doc/timecalc.txt
