# vim-plug {{{1
# Location
autoload/plug.vim*
# Plugins
plugged/*
# Don't ignore my plugin
!plugged/iTunes-current-track
# Documentation
doc/plug.txt
# }}}1

# Tags of documentation
doc/tags
# Swap files
tmp
# Garbage file created by macOS's Finder
.DS_Store
# NETRW's history
.netrwhist
# Custom color schemes (should be in their own repos)
colors
# Vim's history
viminfo
